#picturesofContinents > div:after{
  width:300px;
  color:white;
  display: block;
  font-size:3em;
  letter-spacing:5px;
  text-align:center;
  font-weight:normal;
  height:100px;
  position: absolute;
  top: 25%;
  padding-top:5%;
  bottom: 0;
  left: 30%;
  right: 0;
  transition: all .3s linear;
}
#europe:after{content: "Europe";}
#asia:after{content:"Asia"}
#australia:after{content:"Australia"}
#africa:after{content:"Africa"}
#america:after{content:"America"}
#middleeast:after{content:"Middle East"}
#antartica:after{content:"Antartica"}
