<template name="home">

      <div id="homeBase">
          {{> welcome}}
          <div id="clickerforwelcome">
                <span class="glyphicon glyphicon-signal"></span>
          </div>
        <div class="continentOverhead"></div>
        <div class="row" id="picturesofContinents">
                        <div id="europe" style="background-image:url('/europe.jpeg')" class="col-md-8">

                        </div>
                        <div id="australia" style="background-image:url('/australia.jpeg')" class="col-md-4">

                        </div>
                        <div id="asia" style="background-image:url('/asia.jpeg')" class="col-md-4">

                        </div>

                        <div id="middleeast" style="background-image:url('/middleeast.jpeg')" class="col-md-4">

                        </div>
                        <div id="africa" style="background-image:url('/africa.jpeg')" class="col-md-4">

                        </div>

                        <div id="antartica" style="background-image:url('/antartica.jpeg')" class="col-md-6">

                        </div>
                        <div id="america" style="background-image:url('/america.jpeg')" class="col-md-6">

                        </div>

            </div>
      </div>

</template>
