<template name="messages">

  <div class="messages">

          <div class="messageUserInfo">
              <div class="messageprofilepic" style="background-image:url({{this.imageUrl}})"></div>
              <div class="messageprofilename">
                  <p style="font-weight:bolder;">{{this.username}}</p>
                  <p style="margin-left:5%;"><small>{{date}}</small></p>
              </div>
          </div>
          <div class="messageInfo">
              <p>{{this.text}}</p>
          </div>

  </div>



</template>
