<template name="selectlanguage">

  <div id="selectlanguage">
    <a class="btn-floating btn-large white" id="gobackprofile"><i class="material-icons call">call_made</i></a>
              <div class="country flag-icon-background flag-icon-gb flag-icon-squared card" id="british">

              </div>
              <div class="country flag-icon-background flag-icon-fr flag-icon-squared card" id="french">

              </div>
              <div class="country flag-icon-background flag-icon-jp flag-icon-squared card" id="japanese">

              </div>
              <div class="country flag-icon-background flag-icon-kr flag-icon-squared card" id="korean">

              </div>
              <div class="country flag-icon-background flag-icon-es flag-icon-squared card" id="spanish">

              </div>
              <div class="country flag-icon-background flag-icon-cn flag-icon-squared card" id="mandarin">

              </div>
              <div class="country flag-icon-background flag-icon-ru flag-icon-squared card" id="russian">

              </div>
              <div class="country flag-icon-background flag-icon-ng flag-icon-squared card" id="yoruba">

              </div>
              <div class="country flag-icon-background flag-icon-sa flag-icon-squared card" id="arabic">

              </div>
              <div class="country flag-icon-background flag-icon-de flag-icon-squared card" id="german">

              </div>
              <div class="country flag-icon-background flag-icon-pt flag-icon-squared card" id="portugese">

              </div>
              <div class="country flag-icon-background flag-icon-za flag-icon-squared card" id="afrikaans">

              </div>

  </div>

</template>
